@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Unbounded", cursive;
}

body {
  overflow-x: hidden;
}

.centered-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.home {
  width: 100%; /*Ancho total*/
  min-height: 100vh;
  background: #293a80;
}

.bg_img {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  color: #1d1c1c;
  border-radius: 20px;
  flex-direction: column;
}

.bg-01{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: auto;
}

.card-today {
  background-color: #537EC5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.city {
  font-size: 36px;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  background-color: #f39422;
  margin-right: 10px ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top:20px ;
}

.temp {
  font-size: 36px;
  font-weight: bold;
  background-color: #3cd6e7;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top:20px ;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  background-color: rgba(127, 255, 212, 0.747);
  font-weight: bold;
  margin-left: 10px ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top:20px ;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.weather-description {
  color: #1d1c1c;
  font-size: 36px;
  margin-right: 10px; 
}

.temperature-min-max {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  width: auto;
}

.min-max-temperature {
  background-Color:#537EC5;
  padding:10px;
  color:hsl(208, 100%, 97%);
  margin: 0 10px;
  border-radius: 15px;
}
/*---------------------------------------------------------*/
.city:hover {
  transform: scale(1.04);
  transition: transform 0.2s;
}
.temp:hover {
  transform: scale(1.04);
  transition: transform 0.2s;
}
.group:hover {
  transform: scale(1.04);
  transition: transform 0.2s;
}

.box_container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.box {
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: transform 0.2s;
  color: aliceblue;
}

.inside-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.box:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 730px) {
  .bg_img {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .box_container {
    flex-direction: column;
  }

  .bg-01{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: auto;
  }
  
  .weather-description{
    font-size: x-large;
    font-weight: bold;
  }
  .box,
  .input {
    width: 50vw;
  }
  .temperature-min-max {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
  .allWeek {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .week{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .card-body{
    display:flex;
    align-Items:center;
    flex-direction: row;
    align-items: center;
  }

}

.buttonSearch {
  margin-right: 10px;
  background: #f39422;
  border-radius: 40px;
  border: #1d1c1c 1px;
}

.buttonSearch:hover {
  background-color: #facd94;
  transform: scale(1.1);
}

.centered-image {
  width: 42px; /* Ancho de la imagen */
  height: 42px; /* Alto de la imagen */
}

.custom-button:hover {
  background-color: #3cd6e7; /* Color de fondo al pasar el mouse por encima */
}

.week {
  background:#537EC5;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.allWeek {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(243, 149, 34, 0.98);
}

.allWeek:hover {
  background-color: rgba(249, 137, 0, 0.98);
  transform: scale(1.1);
  transition: transform 0.2s;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-bottom: 5px;
  justify-content: center;
}

.data-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 197, 59);
  border-radius: 10px;
}

.data-card p {
  margin-right: 10px;
}

.data-card img {
  width: 40px;
  height: 40px;
}

.forecast-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center;
}
